/*--------------------------- CONFIG.LESS --------------------------------*/
/*  1170px  */
/*  1170px  */
/*  970px   */
/*  750px   */
/*  100%    */
/*  100%    */
body {
  font-family: DejaVu Sans !important;
}
img {
  width: 100%;
  height: auto;
}
